# --- General ---
node_modules/
.DS_Store
*.log
.env
.env.local

# --- Backend (Node.js/Express) ---
backend/node_modules/
backend/.env

# --- Mobile (Expo/React Native) ---
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/npm-debug.log*
mobile/yarn-error.log*

# Jika nanti kamu melakukan 'npx expo prebuild'
mobile/android/
mobile/ios/

# --- Database ---
# Jika kamu menyimpan file dump SQL di dalam folder project
*.sql